In [6]:
pip install pandas-summary

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas-summary
  Downloading pandas_summary-0.2.0-py2.py3-none-any.whl (5.2 kB)
Collecting datatile (from pandas-summary)
  Downloading datatile-1.0.3-py3-none-any.whl (6.0 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandas-summary) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandas-summary) (1.5.3)
Collecting traceml<1.1 (from datatile->pandas-summary)
  Downloading traceml-1.0.8-py3-none-any.whl (144 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 144.5/144.5 kB 4.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas-summary) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas-summary) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandas-summary) (1.16.0)
Installing collected packages: traceml, datatile, pandas-summary
Successfully installed datatile-1.0.3 pandas-summary-0.2.0 traceml-1.0.8

In [7]:
import pandas as pd
from pandas_summary import DataFrameSummary

In [8]:
k=pd.read_csv('/content/sample_data/california_housing_test.csv')

In [9]:
df=DataFrameSummary(k)

In [14]:
df.columns_stats

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
counts,3000,3000,3000,3000,3000,3000,3000,3000,3000
uniques,607,587,52,2215,1055,1802,1026,2578,1784
missing,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric

In [21]:
dfs=pd.DataFrame(k)

In [22]:
dfs

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [26]:
dfs['longitude']

0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64

In [29]:
dfs['longitude'].head()

0   -122.05
1   -118.30
2   -117.81
3   -118.36
4   -119.67
Name: longitude, dtype: float64

In [31]:
dfs['longitude'].nunique()

607